<!-- meta tags bring in support for mobile browsers so bootstrap shows up properly on phone screens -->
<meta name="viewport" content="width=device-width, initial-scale=1 ">
<meta name="HandheldFriendly" content="true">

<script type="text/javascript" src="javacripts/extras.js"></script>

<!-- Changed navbar from fixed to static. Was overlapping with body of page -->
<header role="banner" class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!-- When collapsed, makes a dropdown with hamburger button -->
      <button class="navbar-toggle pull-left" data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Kwikr", root_path, id: "logo" %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-inverse side-collapse in pull-right">
      <nav role="navigation" class="navbar-collapse">
        <!-- modified to show active links. Check _header.html.erb.txt for old code if needed -->
        <ul class="nav navbar-nav">
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
          <li class="<%= 'active' if current_page?(help_path) %>"><%= link_to "Help", help_path %></li>
          <!-- start of dynamic login menu - shows account if logged in, login if not logged in -->
          <% if logged_in? %>
            
            <li class="<%= 'active' if current_page?(users_path) %>"><%= link_to "Users", users_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Log in", login_path %></li>
          <% end %>
          <!-- ends dynamic login menu -->
        </ul>
      </nav>
    </div><!-- /.navbar-collapse -->
  </div>
</header>
